<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<title>高校跳瘙市场首页统计</title>
	<link rel="stylesheet" type="text/css" th:href="@{css2/laydate.css}" />
	<link rel="stylesheet" th:href="@{css2/common.css}"/>
	<link rel="stylesheet" th:href="@{css2/style.css}"/>
</head>
<body>
	<div class="box">
		<div class='cf'>
			<span class="title fl">基本指标</span>
			<div class="time-box fr">
			<div class="time">
				<a href="javascript:;" class="">近日</a>
				<a href="javascript:;" class="">近七天</a>
				<a href="javascript:;" class="">近一月</a>
			</div>
			<div class="laydate">
				<input class="endt" readonly="readonly" type="" placeholder="年—月—日" id="startime" name=""  value="" /><!-- <img th:src="image/u30.png" alt=""> -->
				<input class="endt" readonly="readonly" type="" placeholder="年—月—日" id="endtime" name=""  value="" />
			</div>
			</div>
		</div>

		<div class="index-ul">
			<ul>
				<li>注册量6000</li>
			</ul>
			
		</div>
		<div class="canvas">
			<canvas id="myChart"></canvas>
		</div>
		<div class="dao cf">
			<span class="fr">导出</span><span class="fr"><img th:src="@{image/u22.png}" alt=""/></span>
		</div>
	</div>
</body>
<script th:src="@{js2/Chart.bundle.js}"></script>
<script type="text/javascript" th:src="@{js2/laydate.js}"></script>
		
		<script type="text/javascript">
			var startime;
			var endtime;

			startime = laydate.render({
				elem: '#startime' //指定元素
					,
				format: 'yyyy-MM-dd', //可任意组合
				min: "2018-1-1",
				max: "",
				done: function(value, date, endDate) {
					if(value != "") {
						date.month = date.month - 1;
						endtime.config.min = date;
					} else {
						endtime.config.min = startime.config.min
					}

				}
			});

			endtime = laydate.render({
				elem: '#endtime' //指定元素
				,
				format: 'yyyy-MM-dd', //可任意组合
				min: "2018-1-1",
				max: "",
				done: function(value, date, endDate) {
					if(value != "") {
						date.month = date.month - 1;
						startime.config.max = date;
					} else {
						startime.config.max = endtime.config.max
					}

				}
			});




			var ctx = document.getElementById("myChart").getContext("2d");

    // 设置数据内容
    var data = {
        // 设置图表中水平轴显示的内容
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        // 设置图表中的数据
        datasets: [
            {
                // 当前图表数据的标题内容
                label: "",
                // 是否填充折线与水平轴中间的区域
                fill: true,
                // 设置折线数据点的贝塞尔曲线值（值为0时为折线）
                lineTension: 0.1,
                // 设置背景颜色
                backgroundColor: "rgba(75,192,192,0.4)",
                // 设置边框颜色
                borderColor: "rgba(75,192,192,1)",
                // 设置折线端点的样式
                borderCapStyle: 'butt',
                // 破折号的长度和间距
                borderDash: [],
                // 破折号的偏移量
                borderDashOffset: 0.0,
                // 设置折线交点的样式
                borderJoinStyle: 'miter',
                // 设置折线数据点的边框颜色
                pointBorderColor: "rgba(75,192,192,1)",
                // 设置折线数据点的背景颜色
                pointBackgroundColor: "#fff",
                // 设置折线数据点的边框宽度
                pointBorderWidth: 1,
                // 设置当鼠标悬停折线数据点时的半径
                pointHoverRadius: 5,
                // 设置当鼠标悬停折线数据点时的背景颜色
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                // 设置当鼠标悬停折线数据点时的边框颜色
                pointHoverBorderColor: "rgba(220,220,220,1)",
                // 设置当鼠标悬停折线数据点时的边框宽度
                pointHoverBorderWidth: 2,
                // 设置折线数据点的半径
                pointRadius: 1,
                //
                pointHitRadius: 10,
                // 设置折线中所有的数据
                data: [65, 59, 80, 81, 56, 55, 40],
                // 如果设置为true，将在没有数据或空数据的点之间绘制直线
                spanGaps: false,
            }
        ]
    };

    var options = {}

    /*
        创建图表对象
        1. 第一种方式 - 新版本提供
         var myLineChart = new Chart(ctx, {
             type: 'line',
             data: data,
             options: options
         });
        2. 第二种方式 - 旧版本支持
         var myLineChart = Chart.Line(ctx, {
             data: data,
             options: options
         });
     */
    var myLineChart = Chart.Line(ctx, {
        data: data,
        options: options
    });
		</script>
</html>