<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>我的订单</title>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap-combined.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"/>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                var tbody=window.document.getElementById("tbody-result");
                $.ajax({
                    url:"http://localhost:8082/gra/my_order.action",
                    type:"post",
                    dataType:"text",
                    success:function (data) {
                        var order=eval('('+data+')');
                        var str="";
                        for(i in order) {
                            var bianhhao = parseInt(i) + 1;
                            var order_oid=order[i].order_oid;
                            var good_name=order[i].good_name;
                            var order_time=order[i].order_time;
                            var update_time=order[i].upda_time;
                            var order_state=order[i].order_state;
                            var order_allpri=order[i].order_allpri;
                            str+="<tr><td>"+bianhhao+"</td><td>"+order_oid+"</td><td>"+good_name+"</td><td>"+order_time +"</td><td>"
                                +update_time+"</td><td>"+order_allpri+"</td><td>"+order_state+"</td><td><button value="+order_oid+" id="+i+">完成订单</button>"
                            "</td></tr>";
                            tbody.innerHTML=str;
                        }
                    }
                })
            })
            //更改订单状态
            $(document).on('click','button',function () {
                var order_oid=this.value;
                var res=confirm("确定已经签收吗？")
                if(res){
                    $.ajax({
                        url:"http://localhost:8082/gra/update_order_state.action",
                        type:"post",
                        data:{"order_oid":order_oid,"order_state":"订单完成"},
                        dataType:"text",
                        success:function (data) {
                            if(data=="订单状态更改成功"){
                                alert(data+"!!");
                                window.location.href="/web/my_order"
                            }else {}
                        }
                    })
                }else {
                }
            })
            //邮箱判断是否认证
            $("#anzx").click(function () {
                $.ajax({
                    url:"http://localhost:8082/gra/per_info_success.action",
                    type:"post",
                    dataType:"text",
                    success:function (data) {
                        var userinfo=eval('('+data+')');
                        var email_state=userinfo.email_state;
                        if (email_state=="已认证") {
                            window.location.href="/web/certified_success"
                        }else {
                            window.location.href="/web/security_center"
                        }

                    }
                })
            })
            //判断商铺是否申请
            $("#sqsp").click(function () {
                $.ajax({
                    url: "http://localhost:8082/gra/user_shop.action",
                    type: "post",
                    dataType: "text",
                    success: function (data) {
                        var usershop = eval('(' + data + ')');
                        var shop_state = usershop.shop_state;
                        if (shop_state == "审核中"||shop_state=="已审核") {
                            window.location.href = "/web/apply_shop_success"
                        } else {
                            window.location.href = "/web/apply_shop"
                        }

                    }
                })
            })
            //判断商铺是否审核通过
            $("#myshop").click(function () {
                $.ajax({
                    url:"http://localhost:8082/gra/user_shop.action",
                    type:"post",
                    dataType:"text",
                    success:function (data) {
                        var shop=eval('('+data+')');
                        var shop_state=shop.shop_state;
                        if(shop_state=="已审核"){
                            window.location.href="/web/my_shop"
                        }else if (shop_state=="审核中") {
                            alert("您申请的商铺正在审核中，请耐心等待！！")
                        }else {
                            alert("您还未申请商铺")
                        }
                    }
                })
            })
        })
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>
                    个人中心
                </h1>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <ul class="nav nav-list">
                        <li class="">
                            <a href="/web/">返回首页</a>
                        </li>
                        <li class="nav-header">
                            会员中心
                        </li>
                        <li>
                            <a href="/web/member">用户信息</a>
                        </li>
                        <li>
                            <a href="/web/perfect_information">完善基本信息</a>
                        </li>
                        <li>
                            <a href="#" id="anzx">安全中心</a>
                        </li>
                        <li class="nav-header">
                            购物车
                        </li>
                        <li>
                            <a href="/web/my_shipping">我的购物车</a>
                        </li>
                        <li class="nav-header">
                            订单中心
                        </li>
                        <li class="active">
                            <a href="#">我的订单</a>
                        </li>
                        <li>
                            <a href="/web/tj_address">收货地址</a>
                        </li>
                        <li class="nav-header">
                            店铺管理
                        </li>
                        <li>
                            <a href="#" id="sqsp">申请商铺</a>
                        </li>
                        <li>
                            <a href="#" id="myshop">进入商铺</a>
                        </li>
                    </ul>
                </div>
                <div class="span10">
                    <h3 contenteditable="true">订单</h3>
                    <hr/>
                    <table class="table" id="tab" contenteditable="true">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>订单编号</th>
                            <th>商品名称</th>
                            <th>订单创建时间</th>
                            <th>订单更新时间</th>
                            <th>总价格</th>
                            <th>订单状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tbody-result">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{js/canvas-nest.js}" color="208,55,66" opacity="0.7" count="125"></script>
</body>
</html>