<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>注册</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style2.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script>
        $(function () {
            $("#zc").click(function () {
                var user_phone=$("#user_phone").val();
                var user_pass=$("#user_pass").val();
                var user_pass2=$("#user_pass2").val();
                if(user_pass!=user_pass2){
                    alert("两次输入密码不同，请重新输入")
                }else{
                    $.ajax({
                        url:"http://localhost:8082/gra/regist.action",
                        type:"post",
                        data:{"user_phone":user_phone,"user_pass":user_pass},
                        success:function (res) {
                            alert("注册成功")
                            window.location.href="/web/login"
                        },
                        error:function (res) {
                            alert("error")
                        }

                    })
                }

            })
        })
    </script>
</head>
<body>
<!--Begin Login Begin-->
<div class="log_bg">
    <div class="top">
    </div>
    <div class="regist">
        <div class="log_img"><img src="images/dltp.png" width="611" height="425" /></div>
        <div class="log_c">
            <form action="" method="post">
                <table border="0" style="width:420px; font-size:14px; margin-top:20px;" cellspacing="0" cellpadding="0">
                    <tr height="50" valign="top">
                        <td width="95">&nbsp;</td>
                        <td>
                            <span class="fl" style="font-size:24px;">注册</span>
                            <span class="fr">已有账号，<a href="/web/login" style="color:#ff4e00;">我要登录</a></span>
                        </td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;手机号 &nbsp;</td>
                        <td><input type="text" id="user_phone" name="user_phone" class="l_user" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;密码 &nbsp;</td>
                        <td><input type="password" id="user_pass" name="user_pass" class="l_pwd" /></td>
                    </tr>
                    <tr height="50">
                        <td align="right"><font color="#ff4e00">*</font>&nbsp;确认密码 &nbsp;</td>
                        <td><input type="password" id="user_pass2" class="l_pwd" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="font-size:12px; padding-top:20px;">
                        </td>
                    </tr>
                    <tr height="60">
                        <td>&nbsp;</td>
                        <td><input type="button" id="zc" value="立即注册" style="background: #a94442" class="log_btn" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<!--End Login End-->

</body>
</html>