<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>添加地址</title>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap-combined.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap-3.3.7-dist/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"/>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                $.ajax({
                    url:"http://localhost:8082/gra/my_address.action",
                    type:"post",
                    dataType:"text",
                    success:function (data) {
                        if(data==null||data==""){
                        }else {
                            window.location.href="/web/my_address"
                        }
                    }
                })
            })
            //提交地址
            $("#tjdz").click(function () {
                var formDate=new FormData($("#myform")[0]);
                $.ajax({
                    url:"http://localhost:8082/gra/tj_address.action",
                    type:"post",
                    data:formDate,
                    dataType:"text",
                    processData: false,
                    contentType: false,
                    success:function (data) {
                        if(data=="添加成功"){
                            alert(data)
                            window.location.href="/web/my_address"
                        }else {
                            alert(data)
                        }
                    }
                })
            })
            //邮箱判断是否认证
            $("#anzx").click(function () {
                $.ajax({
                    url:"http://localhost:8082/gra/per_info_success.action",
                    type:"post",
                    dataType:"text",
                    success:function (data) {
                        var userinfo=eval('('+data+')');
                        var email_state=userinfo.email_state;
                        if (email_state=="已认证") {
                            window.location.href="/web/certified_success"
                        }else {
                            window.location.href="/web/security_center"
                        }

                    }
                })
            })
            //判断商铺是否申请
            $("#sqsp").click(function () {
                $.ajax({
                    url: "http://localhost:8082/gra/user_shop.action",
                    type: "post",
                    dataType: "text",
                    success: function (data) {
                        var usershop = eval('(' + data + ')');
                        var shop_state = usershop.shop_state;
                        if (shop_state == "审核中"||shop_state=="已审核") {
                            window.location.href = "/web/apply_shop_success"
                        } else {
                            window.location.href = "/web/apply_shop"
                        }

                    }
                })
            })
            //判断商铺是否审核通过
            $("#myshop").click(function () {
                $.ajax({
                    url:"http://localhost:8082/gra/user_shop.action",
                    type:"post",
                    dataType:"text",
                    success:function (data) {
                        var shop=eval('('+data+')');
                        var shop_state=shop.shop_state;
                        if(shop_state=="已审核"){
                            window.location.href="/web/my_shop"
                        }else if (shop_state=="审核中") {
                            alert("您申请的商铺正在审核中，请耐心等待！！")
                        }else {
                            alert("您还未申请商铺")
                        }
                    }
                })
            })
        })
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>
                    个人中心
                </h1>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <ul class="nav nav-list">
                        <li class="">
                            <a href="/web/">返回首页</a>
                        </li>
                        <li class="nav-header">
                            会员中心
                        </li>
                        <li>
                            <a href="/web/member">用户信息</a>
                        </li>
                        <li>
                            <a href="/web/perfect_information">完善基本信息</a>
                        </li>
                        <li>
                            <a href="#" id="anzx">安全中心</a>
                        </li>
                        <li class="nav-header">
                            购物车
                        </li>
                        <li>
                            <a href="#">我的购物车</a>
                        </li>
                        <li class="nav-header">
                            订单中心
                        </li>
                        <li>
                            <a href="/web/my_order">我的订单</a>
                        </li>
                        <li class="active">
                            <a href="#">收货地址</a>
                        </li>
                        <li class="nav-header">
                            店铺管理
                        </li>
                        <li>
                            <a href="#" id="sqsp">申请商铺</a>
                        </li>
                        <li>
                            <a href="#" id="myshop">进入商铺</a>
                        </li>
                    </ul>
                </div>
                <div class="span10">
                    <div class="alert alert-info">
                        <h4>
                            提示!
                        </h4> <strong>提示!</strong> 您还未添加任何收货地址.
                    </div>
                        <form action="" method="post" id="myform" class="form-horizontal">
                            <div class="control-group"><label class="control-label">收货人姓名</label>
                                <div class="controls"><input id="add_name" name="add_name" type="text" /></div>
                            </div>
                            <div class="control-group"><label class="control-label">收货地址</label>
                                <div class="controls"><input id="add_address" name="add_address" type="text"/></div>
                            </div>
                            <div class="control-group"><label class="control-label">联系方式</label>
                                <div class="controls"><input id="add_phone" name="add_phone" type="text"/></div>
                            </div>
                            <div class="control-group">
                                <div class="controls"><input id="tjdz" class="btn" type="button" value="提交"></input></div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{js/canvas-nest.js}" color="47.135.193" opacity="0.7" count="125"></script>
</body>
</html>